<% content_for(:title, "New contact | Wikipages") %>


<h1>New contact</h1>

<% if @contact.errors.any? %>
<h3>Please fix these errors:</h3>
<ul>
  <% @contact.errors.full_messages.each do |message| %>
  <li><%= message %></li>
  <% end %>
</ul>
<% end %>

<form action="/contacts/" method="post">
  <%= render('form') %>
  <button>Create Contact</button>
</form>
